<div class="row">
  <div class="col-8">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [(ngModel)]="html"
        [disabled]="false"
        [placeholder]="'Type here...'"
      ></ngx-editor>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 16px;
        align-items: center;
      "
    >
      <textarea
        type="search"
        placeholder="Search AI"
        [(ngModel)]="searchGTP"
        style="width: 500px"
      ></textarea>
      <div>
        <button (click)="sendMessage()">
          {{ isLoading ? "Loading" : "Generate" }}
        </button>
      </div>
    </div>
  </div>
  <div class="col-4">
    <!-- simulator -->
    <app-simulator [html]="html"></app-simulator>
  </div>
</div>
