@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

.menuList {
  display: flex;
  list-style-type: none;
  padding: 16px;
  gap: 4px;
}

.menuItem {
  background-color: gainsboro;
  padding: 8px 16px;
  border-radius: 8px;
  color: black;
}
